.icon-progress {
    width: 96px;
    height: 96px;
}

.card-fixed {
    height: 200px;
    float: left;
    position: fixed;
}

.list-pokemons {
    width: 50%;
    height: 200px;
    margin-left: 50%;
}

/* For Phone: */
@media only screen and (min-width: 300px) {
    .card-fixed {
        width: 100%;
        height: 369px;
        background-color: #D5F5E3;
    }

    #card-list-pokemos {
        margin-top: 9px;
    }

    #img-list-pokemons {
        width: 96px;
        height: 96px;
    }

    .list-pokemons {
        width: 100%;
        margin-left: 0%;

        margin-top: 369px;
        padding-top: 11px;
    }
}

/* For Tablet: */
@media only screen and (min-width: 600px) {
    .card-fixed {
        width: 50%;
        height: 100%;
        background-color: #D5F5E3;
    }

    #img-list-pokemons {
        width: 196px;
        height: 196px;
    }

    #card-list-pokemos {
        margin-top: 44px;
    }

    .list-pokemons {
        width: 50%;
        height: 100%;

        margin-top: 22px;
        margin-left: 50%;
    }
}
  
/* For Desktop: */
@media only screen and (min-width: 1024px) {
    .card-fixed {
        width: 50%;
    }

    #img-list-pokemons {
        width: 196px;
        height: 196px;
    }

    #card-list-pokemos {
        margin-top: 44px;
    }

    .list-pokemons {
        width: 50%;
        height: 100%;

        margin-top: 22px;
        margin-left: 50%;
    }
}