
.text-pokeball {
    color: aliceblue;
    font-weight: bold;
}

.text-pokemon-shop {
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

.card-menu:hover {
    font-size: 1rem;
    opacity: .7SS;
    transform: scale(1.02);
    box-shadow: 0 24px 40px rgb(0 0 0 / 10%), 0 10px 16px rgb(0 0 0 / 8%), 0 1px 0 rgb(0 0 0 / 5%);
}

.pokeball {
    height: 269px;
    background: url(./images/pokeball.jpg);
    opacity: .7;
    background-size: cover;
    background-repeat: no-repeat;
}

.pokemon {
    height: 269px;
    background: url(./images/pokemon-shop.jpg);
    opacity: .8;
    background-size: cover;
    background-repeat: no-repeat;
}


