.icon-size {
  margin: auto;
  display: block;
  width: 69px;
  height: 69px;
  margin-top: 22px;
}
  
.text-center {
  text-align: center;
}

.card-text {
  color: black;
  font-weight: bold;
}

.card-responsive {
  opacity: .6;
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover {
  font-size: 1rem;
  transform: scale(1.02);
  box-shadow: 0 24px 40px rgb(0 0 0 / 10%), 0 10px 16px rgb(0 0 0 / 8%), 0 1px 0 rgb(0 0 0 / 5%);
  filter: saturate(180%);
}


.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  height: 44px;
  background-color: whitesmoke;
  opacity: .9;
  border-radius: 22px;
  margin-top: 11px;
}