.bag {
    height: 269px;
    background: url(./images/items/bag.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.pokedex {
    height: 269px;
    background: url(./images/items/pokedex.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.battle {
    height: 469px;
    background: url(./images/items/battle-pokemon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}